*,
*::after,
*::before{
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd{
  margin: 0;
}

input,
textarea,
button,
select{
  font: inherit;
}

ul[class]{
  list-style: none;
}

img{
  max-width: 100%;
  display: block;
}

a[class]{
  text-decoration: none;
}

/* font-family: 'Merriweather', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */
body{
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
  font-style: normal;
}

.title{
  align-self: flex-start;
  padding-bottom: 14px;
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -1.65px;
  color: #242121;
  position: relative;
}

.title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 4px;
  background: #FCBB08;
}

.container{
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.header{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: #fff;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  height: 94px;
}

.header__menu{
  margin-top: 40px;
}

.menu__btn{
  display: none;
}

.header__menu-list{
  display: flex;
}

.header__menu-list li + li{
  margin-left: 38px;
}

.header__menu-item{
  padding: 0 6px 9px;
}

.header__menu-item:hover{
  border-bottom: 2px solid #FCBB08;
}

.header__menu-link{
  color: #373A39;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.content{
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  height: calc(100vh - 94px);
  background-position: center;
}

.content__inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 94px);
  font-family: 'Montserrat';
}

.content__title{
  margin-top: auto;
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  color: #fff;
  margin-bottom: 18px;
  padding-top: 150px;
}

.content__subtitle{
  margin-bottom: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.74286px;
  color: #FCBB08;
}

.content__img{
  width: 26px;
  height: 43px;
  margin-bottom: 62px;
}

.about{
  background-color: #F6F8FA;
  padding: 150px 145px;
}

.about__inner{
  display: flex;
}

.about__title{
  width: 400px;
  flex: none;
  font-size: 48px;
}
.about__text p{
  margin-bottom: 15px;
}

.expertise{
  padding: 140px 0 160px;
}

.expertise__title{
  margin-bottom: 90px;
}

.expertise__info{
  display: flex;
  margin-bottom: 95px;
}

.expertise__percent{
  flex: none;
  margin-right: 30px;
  width: 370px;
}

.expertise__percent-item{
  border-top: 2px solid #1D1D1D;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  margin-bottom: 28px;
  color: #1D1D1D;
  position: relative;
}

.expertise__percent-item span{
  position: absolute;
  right: 5px;
  top: 0;
}

.expertise__percent-item span::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f0f0f0;
  top: -2px;
  right: -5px;
}

.expertise__text p{
  margin-bottom: 25px;
}

.expertise__inner{
  display: flex;
  justify-content: space-between;
}

.expertise__item{
  width: 370px;
  padding-left: 80px;
  position: relative;
}

.expertise__item::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.expertise__item--dev::before{
  background-image: url(../images/dev.svg);
}

.expertise__item--design::before{
  background-image: url(../images/design.svg);
}

.expertise__item--marketing::before{
  background-image: url(../images/speaker.svg);
}

.magic{
  background-image: url(../images/magic.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center left;
}

.magic__inner{
  padding: 100px 0 190px;
  margin-left: auto;
  max-width: 470px;
}

.magic__title{
  margin-bottom: 70px;
}

.magic__text p{
  margin-bottom: 25px;
}

.portfolio{
  padding: 140px 0 165px;
}

.portfolio__top{
  display: flex;
  justify-content: space-between;align-items: center;
  margin-bottom: 100px;
}

.portfolio__button{
  margin-right: 40px;
  font-weight: 600;
  color: #333;
}

.portfolio__btn{
  padding: 0;
  border: none;
  cursor: pointer;
  margin-right: 17px;
  padding: 0 4px 4px;
  border-bottom: 1px solid #FCBB08;
}

.portfolio__inner{
  column-count: 4;
  column-gap: 22px;
  margin-bottom: 70px;
}

.portfolio__img-blok{
  margin-bottom: 22px;
  overflow: hidden;
  position: relative;
}

.portfolio__img{
  max-width: auto;
  height: 100%;
}

.portfolio__img-link{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #4C4949;
  border: 12px solid #666363;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  opacity: 0;
}

.portfolio__img-link:hover{
  opacity: 1;
}

.portfolio__link{
  display: block;
  text-align: center;
  margin: 40px 15px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
  color: #242121;
}

.blockquote{
  text-align: center;
  padding: 130px 0 150px;
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  color: #242121;
}

.blockquote span{
  display: block;
  margin-top: 50px;
  font-size: 14px;
  line-height: 32px;
}

.portfolio__video{
  height: 324px;
  background-image: url(../images/video-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 165px;
}

.portfolio__info{
  display: flex;
  justify-content: space-around;
}

.portfolio__namber{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #242121;
  text-align: center;
}

.portfolio__namber span{
  display: block;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333;
  margin-top: 9px;
}

.slider{
  background-color: #F8F6FA;
  padding: 360px 0 110px;
}

.slider__item{
}

.slider__item-link{
  display: inline-block;
}

.slider__item-title{
  max-width: 625px;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  color: #242121;
}

.slider__item-text{
  color: #373A39;
  max-width: 625px;
}

.slick-dots{
  display: flex;
  padding-top: 180px;
}

.slick-dots li + li{
  margin-left: 14px;
}

.slick-dots button{
  font-size: 0;
  border: none;
  padding: 0;
  width: 6px;
  height: 6px;
  background-color: #242121;
  opacity: 0.4;
  border-radius: 50%;
  cursor: pointer;
}

.slick-active button{
  width: 10px;
  height: 10px;
  opacity: 1;
  transform: translateY(-2px);
}

.slick-prev,
.slick-next{
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-145px);
  cursor: pointer;
}

.slick-prev{
  right: -80px;
}

.slick-next{
  left: -80px;
}

.team{
  padding: 120px 0 130px;
}

.team__inner{
  display: flex;justify-content: space-between;
  margin-top: 120px;
}

.team__item{
  max-width: 370px;
  text-align: center;
}

.team__title{
  margin: 35px 0 12px;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 17px;
  color: #333;
}

.team__prof{
  line-height: 16px;
  color: #373A39;
}

.pricing{
  padding: 145px 0 160px;
}

.pricing__title{
  margin-bottom: 115px;
}

.pricing__inner{
  display: flex;justify-content: space-between;
}

.pricing__list{
  width: 370px;
  padding: 0 25px;
  text-align: center;
  color: #242121;
}


.pricing__list-title{
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 8px;
}

.pricing__list-num{
  font-size: 80px;
  line-height: 109px;
  margin-bottom: 50px;
}

.pricing__list-num sup{
  font-size: 40px;
  line-height: 54px;
}

.pricing__list-text{
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
}

.pricing__list-plan{
  display: inline-block;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
  margin-top: 40px;
  color: #242121;
}

.partner{
  padding: 70px 0 95px;
}

.partner__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.conection{
  padding: 145px 0 60px;
  background-image: url(../images/map.jpg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right center;
}

.conection__title{
  margin-bottom: 63px;
}

.conection__form{
  width: 570px;
  margin-bottom: 140px;
}

.conection__form input,textarea{
  display: block;
  padding: 32px 0 16px;
  border: none;
  border-bottom: 2px solid #373A39;
  width: 100%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #B8B8B8;
}

.conection__form textarea{
  padding: 53px 0 136px;
  margin-bottom: 140px;
  resize: none;
}

.conection__form button{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 2px;
  color: #FFFFFF;
  border: none;
  padding: 17px 70px 15px;
  background-color: #000;
  cursor: pointer;
}

.footer__top{
  padding: 110px 0 60px;
  background-color: #000;
  text-align: center;
}

.footer__logo{
  display: inline-block;
  margin-bottom: 75px;
}

.footer__social{
  display: flex;
  justify-content: center;
  padding-bottom: 65px;
}

.footer__item{
  padding: 0 15px;
}

.footer__link{
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  letter-spacing: 4px;
}

.address__link,
.address__text{
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  margin-bottom: 5px;
}

.address__link-angle{
  display: inline-block;
  margin-top: 57px;
  cursor: pointer;
}

.footer__copy{
  padding: 40px 0;
  background-color: #2A2C2B;
}

.footer__copy-text{
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ccc;
}

@media(max-width: 1440px){
  .slick-prev{
    right: 0;
    transform: translateY(-20px);
  }
  .slick-next{
    left: 0;
    transform: translateY(-20px);
  }
}

@media(max-width: 1200px){
  .title{
    font-size: 48px;
    margin-bottom: 100px;
  }
  .logo{
    position: relative;
    z-index: 2;
  }
  .header__menu-list{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    flex-direction: column;
    text-align: center;
    padding: 15px 0;
    border-bottom: none;
    background-color: #000;
    transform: translateY(-200%);
    transition: all .6s;
  }
  .header__inner.header__inner--active .header__menu-list{
    transform: translateY(0%);
  }
  .header__inner.header__inner--active path{
    fill: #fff;
    transition: all .6s;
  }
  .header__menu-list li+li {
    margin-left: 0;
  }
  .header__menu-item{
    padding: 15px 6px;;
  }
  .header__menu-item:hover{
    border-bottom: none;
  }
  .header__menu-link{
    font-size: 18px;
    line-height: 22px;
    color: #fff;
  }
  .header__menu-link:hover{
    color:#FCBB08;
  }
  .menu__btn{
    display: block;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-top: -8px;
    position: relative;
    z-index: 2;
  }
  .content__title{
    font-size: 56px;
    line-height: 66px;
  }
  .about{
    padding: 150px 0;
  }
  .about__inner{
    display: block;
  }
  .expertise__info{
    display: block;
  }
  .expertise__percent{
    width: 100%;
    margin: 0 0 30px 0;
  }
  .expertise__inner{
    display: block;
  }
  .expertise__item{
    width: 100%;
    margin-bottom: 30px;
  }
  .magic{
    background: none;
  }
  .magic__inner{
    margin: 0;
    max-width: 100%;
  }
  .portfolio__button{
    font-weight: 300;
    margin-right: 0;
  }
  .team__inner{
    display: block;
  }
  .team__item{
    max-width: 100%;
    margin-bottom: 30px;
  }
  .team__title{
    margin: 0;
  }
  .team__img{
    display: inline-block;
  }
}

@media(max-width: 768px){
  .content__title{
      font-size: 44px;
      line-height: 56px;
  }
  .slider__item-title{
    font-size: 24px;
    line-height: 34px;
  }
  .portfolio__top{
    display: block;
  }
  .portfolio__button{
    font-size: 10px;
    line-height: 20px;
  }
  .portfolio__inner{
    column-count: 2;
  }

}

@media(max-width: 425px){
  .content__title {
    font-size: 34px;
    line-height: 40px;
  }
  .content__subtitle{
    font-size: 12px;
    line-height: 14px;
  }
  .slider__item-title{
    font-size: 16px;
    line-height: 24px;
  }
}

